name: My First workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Welcome message
          run: |
            echo "My first github Action Job"
            ls -ltra
            cat README.md

        - name: install Cowsay program
          run: sudo apt-get install cowsay -y

        - name: Generate ASCII Artwork
          run: cowsay -f dragon "Run for cover, I am a DRAGON......RAWR" >>dragon.txt

        - name: Test file exists
          run: grep -i "dragon" dragon.txt
        
        - name: read dragon.txt file
          run: cat dragon.txt

        - name: List repo files
          run: ls -ltra
          
        # - name: Read file
        #   run: cat README.md

            

